.div_cls{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
       
}


.div_item:hover{
    transition: 0.3s;
}

.pagination{
    background: white;
    display: inline-flex;
    width: 100%;
    padding: 20px;
    justify-content: center;
}

/* .filter_border{
    border: 1px solid black;
    margin-top: 13px;
    height: 20rem;
    width: 50rem;
    margin-left: 17rem;
    text-align: center;
    align-items: center;
} */